{% extends 'default.twig' %}

{% block content_wrapper %}
        <section class="content">
            <h1>
                <a href="{{ page.url }}">{{ page.title }}</a>
            </h1>

            <section class="byline">
                {{ page.date|date("j M Y") }}
            </section>

            {{ parent() }}
        </section>
{% endblock %}
