hr.large{height:8px;border:0;background:#ebebeb;margin:30px 0;}
h1.headline{margin:40px 0 10px 0;}
h1.headline a{text-decoration:none;font-weight:bold;}

header{position:relative}
header a.phptherightway{position:absolute;top:30px;right:1px;}

div.highlight{border:1px solid #E1E1E8;padding:10px;margin:0 0 20px 0;background:#F7F7F9;border-radius:5px;}
pre,p code{font-family:Consolas, 'Liberation Mono', Courier, monospace;font-size:12px;line-height:16px;overflow:scroll;}

ul{list-style:square inside;}
ul li{margin-left:15px}

p code{background:#f7f7f9;padding:2px 4px;border-radius:3px;border:1px solid #e1e1e8}
pre { margin-bottom: 20px }
pre code {font-family: "Menlo";font-size: 14px;color:#fff }
ol.linenums li{margin-bottom:0px;}
