---
layout: default.twig
title: Posts
use:
    - posts
---
 
{% block content %}
    <section class="content">
        <h1>Projects</h1>

        <ul class="listing">
            <li><a href="http://henrikbjorn.github.io/Bernard">Bernard</a>, a structured message queue like Resque but not limited to a single backend (Redis).</li>
            <li><a href="http://henrikbjorn.github.io/Flint">Flint</a>, compliments Silex the microframework by making it grow up.</li>
            <li><a href="http://henrikbjorn.github.io/Stampie">Stampie</a>, enables sending emails through online providers in a lightweight way.</li>
            <li><a href="http://henrikbjorn.github.io/Juno">Juno</a>, nags Bernard by providing insights in the messages queued.</li>
            <li><a href="http://vandpibe.bjrnskov.dk">Vandpibe</a>, utilities for Symfony components, contains 100% more emojis for your projects.</li>
        </ul>

        <h1>Posts</h1>

        <ul class="listing">
            {% for post in data.posts %}
                <li>
                    <span>{{ post.date|date("j M Y") }}</span> <a href="{{ post.url }}">{{ post.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
