---
layout: default
title: "Projects"
---

{% block content %}
    <section class="content">
        <h1>Projects</h1>

        <ul class="listing">
            <li><a href="#">Stampie</a></li>
        </ul>
    </section>
{% endblock %}
